<div id="wrap">
    <span class="title">Hello!</span>
    <div class="user">
        <input type="button" class="btn" onclick=" location.href='/users/login'" value="LOGIN"/>
        <input type="button" class="btn" onclick=" location.href='/users/signup'" value="SIGNUP"/>
    </div>
</div>